.count__number{
    border: 1px solid #000000;
    padding: 4px 0px;
}
.counter_btn{
    border: 2px solid black;
    color: white;
    background: black;
    font-size: 1.2rem; 
}
.fw_bold{
    font-weight: bolder;
    font-size: 1.1rem;
}